{"filter":false,"title":".htaccess","tooltip":"/server/API/.htaccess","undoManager":{"mark":1,"position":1,"stack":[[{"group":"doc","deltas":[{"start":{"row":0,"column":0},"end":{"row":9,"column":31},"action":"insert","lines":["RewriteEngine On","","# Some hosts may require you to use the `RewriteBase` directive.","# If you need to use the `RewriteBase` directive, it should be the","# absolute physical path to the directory that contains this htaccess file.","#","# RewriteBase /","","RewriteCond %{REQUEST_FILENAME} !-f","RewriteRule ^ index.php [QSA,L]"]}]}],[{"group":"doc","deltas":[{"start":{"row":9,"column":31},"end":{"row":10,"column":0},"action":"insert","lines":["",""]}]}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":10,"column":0},"end":{"row":10,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1419773409648,"hash":"087f3ac4939f3a22f26b34c47dc09f5e439be4d8"}