<h2>login-page</h2>

<h2>Familie <span data-bind="text: name"></span></h2>

<form role="form">
     <div class="form-group">
        <label for="inputUsername">Name</label>
        <input type="text" class="form-control" id="inputUsername" data-bind="value: username">
        <label for="inputPassword">Name</label>
        <input type="password" class="form-control" id="inputPassword" data-bind="value: password">
    </div>
    <button type="button" class="btn btn-primary" data-bind="click: function(){console.log(params); if (params.oldRoute){hasher.setHash(params.oldRoute);}}">Login</button>
</form>